#sidebar .cart {
	position: relative;
	top: 50px;
	padding: 1em 1.5em;
	direction: ltr;
}

#sidebar .cart .checkout {
	width: 100%;
	height: 50px;
	color: white;
	font-size: 30px;
	border: 0px solid black;
}

#sidebar .cart .checkout:hover {
	background: #026586;
}


#sidebar .cart .checkout.open {
	display: block;
}


#sidebar .cart .items {
	margin: 0;
	padding: 0;
}

#sidebar .cart .items li {
	list-style: none;
	margin-bottom: .5em;
	border-bottom: 1px solid #ebebeb;
	padding: 5px;
}

#sidebar .cart .items .thumbnail {
	width: 20%;
	float: left;
}

#sidebar .cart .items .thumbnail img {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 1px;
}

#sidebar .cart .items .info {
	float: left;
	width: 80%;
}

#sidebar .cart .items .info h2 {
	padding: 10px;
	font-weight: 500;
	font-size: 1em;
	display: inline;
}

#sidebar .cart .items .info .close {
	float: right;
	font-size: 20px;
	background: none;
	border: none;
}

#sidebar .cart .items .info .close:hover {
	color: #007EA7;
}

#sidebar .cart .items .info .amount-price {
	position: relative;
	text-align: right;
	top: 10px;
	left: 30px;
	color: grey;
	width: 80%;
}

#sidebar .cart .items .info .amount-price p {
	margin: 0;
	font-weight: 500;
	font-size: 1.2em;
}

#sidebar .cart .items .info .amount-price strong {
	color: black;
}

#sidebar .cart .items .total {
	margin: 10px 0px;
	display: none;
}

#sidebar .cart .items .total.open {
	display: block;
}

#sidebar .cart .items .total h2 {
	display: inline-block;
}

#sidebar .cart .items .total h3 {
	float: right;
}
